h1 {
    text-align: center;
}

.container {
    margin: auto;
    background-color: white;
    height: 480px;
    width: 480px;
    display: grid;
    grid-template-columns: repeat(16, 1fr); 
    border: 3px solid rgb(0, 0, 0);
    border-radius: 3px;
}

.undrawn {
    background-color: white;
}

.drawnBlack {
    background-color: black;
}
